@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="box-sizing:border-box">
    <div class="col-md-6 bg-success" style="min-height:100vh;">
        <div class="row">
            <div class="mx-auto my-auto">
                <img class="img-fluid mt-5 mx-auto" src="~/css/dpr logo.png" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="mx-auto my-auto container">
                <h5 class="text-center text-white">Nigerian Midstream and Downstream Petroleum Regulatory Authority </h5>
                <h4 class="text-center text-white mt-5">COMPENSATION PAGE </h4>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-5">
        <div class="row">
            <div class="card mx-auto my-auto" style="width:90%;min-height:50%;">
                <div class="card-body">
                    <p class="card-text text-justify text-center">
                        We understand petrol quality is crucial to you consumers and especially vehicle owners. There have been reported cases of 
                        contaminated petrol sold at fueling stations which damaged cars. Unsuspecting users and gas station owners have 
                        been victims of this low-quality fuel imported without proper quality controls.

                        The Department of Petroleum Resources (DPR), as the regulatory authority, is concerned and seeks to compensate 
                        car owners and retrieve contaminated fuel from affected fueling stations across the country. 

                        Click the button below if you have been affected.
                    </p>
                    <div class="row w-75 mx-auto my-auto">
                        <div class="col-lg-6 mb-1">
                            <a asp-action="AddFuelStation" class="btn btn-success w-100" style="font-size:12px">Fuel Station</a>
                        </div>
                        <div class="col-lg-6 mb-1">
                            <a asp-action="AddCarOwner" class="btn btn-success w-100" style="font-size:12px">Car Owner</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>