@{
    ViewData["Title"] = "Submission Page";
}
<h6>@ViewData["Title"]</h6>

<p class="alert alert-success text-center w-25 my-auto mx-auto"> Submission Successful</p>
<div class="col-md-6 mb-1 mx-auto w-25 mt-3">
    <a asp-action="Index" class="btn btn-info w-25">Back</a>
</div>